                       <br/><br/><br/><br/><br/>
<%= form_tag 'restore_backup', :method=>:post, :multipart=>true do |f| %>
<table align="center">
        <tr>
         <th> Select file to restore</th>
         <td><%=file_field_tag "files"%></td>
        </tr>
        <tr>
            <br/><td><%= submit_tag 'Restore'%></td>
        </tr>
</table>

<%end%>
<br/>
<%= link_to 'Back_index',host_index_path%><br/>
                    
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>